[Unit]
Description=Prometheus metrics system
After=network.target

[Service]
EnvironmentFile=/etc/sysconfig/prometheus
ExecStart=/usr/bin/prometheus \
          -log.level "$LOG_LEVEL" \
          -web.listen-address "$LISTEN_ADDRESS" \
          -web.console.libraries "$CONSOLE_LIBRARIES" \
          -web.console.templates "$CONSOLE_TEMPLATES" \
          -config.file "$CONFIG_FILE"
Type=simple
Restart=on-failure
RestartSec=5
StartLimitInterval=60s
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
